@import "https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css";

body {
  margin: 0;
}

header {
  background-color: #eee;
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-size: 35px;
}

.pages {
  text-align: center;
}

.inputs {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  border: dotted #34c2ef 1px;
  align-items: center;
  padding: 100px;
  margin-left: 300px;
  margin-right: 300px;
}

#file-selector {
  font-size: 24px;
}
